@charset "utf-8";
/*
 * FileName: global.css
 * CreateTime: 2013-05-27
 * Author: Charming Honest Romantic Intellegent Smiling
 * Copyright NPC All Rights Reserved
 */
body {margin:0; padding:0; color:#fff; font-size:14px; line-height:18px; font-family:Microsoft Yahei,"微软雅黑",arial;text-align:left;vertical-align:baseline;background:#430000 url(../images/bg_login_manager.jpg) repeat;}
div,table,tr,th,td,form,p,ul,li,dl,dt,dd,a,span,img{margin:0; padding:0;}
body,html{width:100%;height:100%;}
table,tr,th,td,form,p {border:none 0;}
ul,li {margin:0; padding:0; list-style:none; }
dl,dt,dd,h1,h2,h3,h4,h5{margin:0; padding:0;}
img {border:none 0;}
a{color:#333;text-decoration:none;}
a:hover{color:#c60500;text-decoration:none;}
/* float */
.fl{float:left;}
.fr{float:right;}
.nofont{font-size:0;line-height:0;overflow:hidden;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mb10{margin-bottom:10px;}
.mt5{margin-top:5px;}
.red{color:#d9362b;}
.ip,.btn,.ip_code{background:url(../images/part_manager.png) no-repeat 0 0;}
.btn{width:94px;height:34px;background-position:0 -136px;cursor:pointer;border:medium none;}
.btn:hover{background-position:0 -170px;}
.ip,.ip_code{vertical-align:middle;width:210px;height:34px;line-height:34px;font-size:18px;font-weight:bold;font-family:arial;color:#000;border:medium none;background-position:0 0;overflow:hidden;padding:0 10px;}
.ip_code{width:74px;background-position:0 -68px;}
.ip_code:hover,.hover_code{background-position:0 -102px;}
.ip:hover,.hover{background-position:0 -34px;}
/* clear float */
.clear{clear:both;height:0;font-size:0;overflow:hidden;display:block;line-height:0;}
/* clearfix */
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix{display:inline-block; } 
.clearfix{display:block;}

.login_bg{width:974px;height:772px;background:url(../images/ball_manager.jpg) no-repeat center center;}
.copyright{font-size:12px;color:#7ebf1b;font-family:arial;}
.copyright a{color:#7ebf1b;}
.copyright a:hover{text-decoration:underline;color:#fdada6;}