/*
 * FileName: layout.css [cs]
 * CreateTime: 2012-03-09
 * Author: Charming Honest Romantic Intellegent Smiling
 */
@charset "utf-8";
body {margin:0; padding:0; color:#511e02; font-size:12px; line-height:1.8; font-family:Verdana,Tahoma,SimSun,Arial,serif; text-align:left; vertical-align:baseline;background-color:#fff;}
div,table,tr,th,td,form,p,ul,li,dl,dt,dd,a,span,img,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
table,tr,th,td,form,p {border:none 0;}
ul,li {margin:0; padding:0; list-style:none; }
img {border:none 0;}
.fl{float:left;}
.fr{float:right;}
.clear{line-height:0; font-size:0; overflow:hidden;clear:both;}
.g3{color:#333;}
.red{color:#ff0000;}
.green{color:#299a26;}
.blue{color:#2836f4;}
.l_blue{color:#2836f4;}
.ml10{margin-left:10px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.ml22{margin-left:22px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.ml6{margin-left:6px;}
.mt10{margin-top:10px;}
.mt4{margin-top:4px;}
.nb{border:medium none!important;}
.note{height:26px;line-height:26px;color:#;background:#eae6d9 url(../images/Down_B.jpg) repeat-x left top;color:#5d5d5d;}
/*.note{height:27px;line-height:27px;color:#;background:#eae6d9 url(../images/note_m.gif) repeat-x left top;position:relative;}*/
.note .n_l, .note .n_r{position:absolute;top:0;height:27px;}
.note .n_l{color:#fff;width:87px;background:url(../images/note_l.gif) no-repeat left top;line-height:27px;text-indent:10px;left:0;}
.note .n_r{width:3px;font-size:0;line-height:0;overflow:hidden;background:url(../images/note_r.gif) no-repeat right top;right:0;}
.note .n_c{margin:0 10px 0 100px;color:#5d5d5d;}
.title{height:32px;line-height:32px;/*background: url(../images/title_bg.gif) repeat-x left bottom;*/font-weight:bold;zoom:1;overflow:hidden;}
.title .t_l, .title .t_m, .title .t_r{float:left;width:130px;}
.title .t_l{text-indent:10px;}
.title .t_m{color:#ff0000;}
.title .t_r{float:right;width:346px;vertical-align:middle;height:32px;line-height:32px;overflow:hidden;}
.info{zoom:1;overflow:hidden;height:26px;margin-top:4px;}
.info .i_l, .info .i_l .type, .info .i_l .pan{float:left;}
.info .i_l .type{text-indent:10px;}
.info .i_l .pan{margin-left:12px;}
.info .i_r{float:right;}
.pan ul li{margin-right:4px;width:55px;height:19px;line-height:19px;text-align:center;float:left;display:block;}
.pan ul li a{display:block;background:url(../images/pan_bg.gif) no-repeat center center;}
.pan ul li a:hover, .pan ul li a.current{color:#ff0000;}
table.king{border-top:1px solid #e9ba84;border-left:1px solid #e9ba84;}
table.king tr td, table.king tr th, table.ball tr th{text-align:center;border-right:1px solid #e9ba84;border-bottom:1px solid #e9ba84;padding:1px 2px;}
table.kuangjia tr th{background:#f6cfb2 url(../images/bg.jpg) repeat-x left top;color:#4a1a04;text-align:center;font-weight:bold;border:1px solid #e9ba84;}
table.king tr th, table.ball tr th{padding:0;}
table.king tr td input, table.sm tr td input.small{border:1px solid #b0b0b0;background:#fff url(../images/input_bg.gif) no-repeat left top;text-align:left;/*font-weight:bold;color:#090;*/font-family:Tahoma, Geneva, sans-serif;padding-left:1px;}
table.king tr td input{width:52px;}
table.bj tr td,table.k3 tr td{padding:0!important;}
table.k3 tr td input{width:52px;}
table.king tr td input:hover, table.sm tr td input.small:hover{background:#fcfdcf url(../images/input_bg_hover.gif) repeat-x left top;border:1px solid #ff8800;}
.input_normal{border:1px solid #b0b0b0;background:#fff url(../images/input_bg.gif) no-repeat left top;text-align:left;font-family:Tahoma, Geneva, sans-serif;padding-left:1px;}
.input_normal:hover{background:#fcfdcf url(../images/input_bg_hover.gif) repeat-x left top;border:1px solid #ff8800;}
table.king tr.yellow, table.king tr th, table.ball tr th{background:#f6cfb2 url(../images/bg.jpg) repeat-x left top;color:#4a1a04;}
table.ball tr th.current{background:#ffefa7 url(../images/th2.jpg) repeat-x left top;}
table.ball{border:1px solid #e9ba84;border-top:none;}
table.ball tr th{color:#4c320d;}
table.ball tr td table td{border:1px solid #e9ba84;border-width:0 1px 0 0;text-align:center; vertical-align:top;line-height:14px;width:18px;}
table.t_line{border-top:1px solid #e9ba84;}
table.page{border-right:1px solid #e9ba84;border-bottom:1px solid #e9ba84;border-left:1px solid #e9ba84;padding:3px;}
table.page tr td{background-color:#F5D0B3;padding:0 0px;}
table.page tr td{background:#FBE4D2 url(../images/td_bg_dark.gif) repeat-x left top;}
table.page td a{/*padding:0 3px;*/padding:0;}
table.page td .current {color:#2836f4; font-weight: bold;}
table.page td a:hover{text-decoration:underline;color:#CC0000;}
table.xy tr td.tl{text-align:left;padding-left:5px;}
table.xy tr td.tr{text-align:right;padding-right:5px;}
/*contral num bold start*/
table.king tr td a strong{font-family:Arial, Helvetica, sans-serif;font-size:14px;}
/*contral num bold end*/
.tj{margin:16px auto;/*width:150px;*/text-align:center;}
/*.btn, .btn:hover, .btn_hover, .btn_4, .btn_5, .btn_5:hover{background-image:url(../images/frame1.gif);background-repeat:no-repeat;width:66px;height:17px;border:0px none; padding-top:3px!important;padding-top:3px;padding-top:3px !important;padding-bottom:2px!important;margin-bottom:0;color:#0C3E09;background-color:transparent;background-position: -943px 0;cursor:hand!important;cursor:hand !important;}
.btn_5, .btn_5:hover{background:url(../images/bt_bg_small.gif) no-repeat center top!important;width:46px;}
.btn{width:66px;background-position:-943px 0}
.btn:hover, .btn_hover, .btn_5:hover{cursor: hand;width:66px;background-position:-1010px 0}
.btn_4{background:url(../images/btn_4.gif) no-repeat center top!important;width:91px;}*/
.quick{border:1px solid #9dd1eb;position: relative;}
.quick h2{background-color:#fabc71;line-height:24px;font-size:12px;text-align:center;}
table.qc{border-top:1px solid #cdc2b4;border-left:0;}
table.qc tr td{border-right:1px solid #cdc2b4;border-bottom:1px solid #cdc2b4;background:#fff url(../images/td_bg_quick.gif) repeat-x left top;text-align:center;/*font-weight:bold;*/}
table.sx{border-top:1px dashed #9b6909;}
table.sx tr td{color:#9b6909;text-align:center;}
table.qc tr td.green, table.hll td.green{color:#008000;}
table.qc tr td.blue, table.hll td.blue{color:#0000ff;}
table.qc tr td.red, table.hll td.red{color:#ff0000;}
table.hll{margin:5px 0;}
table.hll td input, table.sx tr td input{margin:0;padding:0; vertical-align:middle;}
table.hll td{text-align:center;padding:1px 0;}

table.sm{position:absolute;left:-100px;top:200px;width:130px;height:88px;border:2px solid #e9ba84;border-width:2px 2px 2px 2px;border-color:#e9ba84 #625630 #625630 #e9ba84;background-color:#FFF;text-align:center;}
table.sm tr th{background:#e9d8a3 url(../images/th_bg.gif) repeat-x left top;color:#4a1a04;}
table.sm tr td, table.sm tr th{border-right:1px solid #e9ba84;border-bottom:1px solid #e9ba84;}

.top_content{padding-bottom:10px;}
table.king tr.even, table.ball tr td table td.even{background-color:#fdf8f2;}
table.king tr td.even{background-color:#fdf8f2;}
table.king tr.type th, table.king tr td.type{background:#e1dc98 url(../images/tr_bg.jpg) repeat-x left;font-weight:bold;}
table.king tr.type th{padding:3px 0;}
.ball-bg{background: url("../images/ball-ico.png") no-repeat scroll 0 0 transparent;color: #fff;display: inline-block;font-weight: bold;height: 21px;
line-height: 21px;text-align: center;width: 21px;cursor: pointer;}
.ball-red{background-position:0 0;}
.ball-blue{background-position:-29px 0;}
.ball-green{background-position:-58px 0;}
table.pw td input{text-align:left!important;padding-left:3px;}
table.input_noborder tr td input, table.no_border tr td{border: medium none;background:none;}
table.no_border{margin:0 auto;color:#4a1a04;}
table.no_border tr td input{background:none;border: medium none;}
.king .dark{background:#FBE4D2 url(../images/td_bg_dark.gif) repeat-x left top;height:24px;}

.ball_scroll{position:relative;width:740px;height:540px;margin:0 auto 10px;padding-top:10px;}
.kaipan{color: #9D1717;height: 220px;left: 245px;position: absolute;top: 175px;width: 250px;z-index: 100; background:url(../images/kaipan.gif) no-repeat center center;}
.kaipan ul{margin:157px auto 0;width:224px;height:56px; background:url(../images/sfm.gif) no-repeat;}
.kaipan ul li{float: left;font-size: 36px;font-weight:700;height: 56px;text-align: center;width: 74px;line-height:40px;}
.t_right{text-align:right!important;padding-right:4px;}
.t_left{text-align:left!important;padding-left:4px;}
.wenzi{margin:20px;}
.wenzi h2{font-size:20px;font-family:Microsoft YaHei,SimSun,Arial;}
.wenzi h3{font-size:14px;text-indent:8px;font-weight:normal;}
ul.information, ul.information2{margin-left:20px;}
ul.information2 li {list-style:disc inside;line-height:18px;}

dl.tt{width:600px;margin:0 auto;}
dl.tt dt, dl.tt dd{float:left;text-align:left;height:26px;padding-top:4px;}
dl.tt dt{width:120px;}
dl.tt dd{width:150px;background:#FFF;}
dl.tt dt input, dl.tt dd input{ vertical-align:middle;}
.b_blue{border:1px solid #69C!important;}

table.long {
    border-left: 1px solid #e9ba84;
    border-top: 1px solid #e9ba84;
}
table.long tr td {
    background: #f5d0b3 url(../images/bg.jpg) repeat-x left top;
    border-bottom: 1px solid #e9ba84;
    border-right: 1px solid #e9ba84;
    text-align: center;
	font-weight:bold;
	font-size:12px!important;
}
table.long tr td.lf {
    padding-left: 3px;
    text-align: left;
	background-color:#fff4eb;
	font-weight:normal;
	background-image:none;
}
table.long tr td.rg {
    background-color: #fff;
	background-image:none;
    color: #ff0000;
	font-weight:normal;
}

table.jslong tr td{background:#fff;font-weight:normal;}
table.jslong tr td.tt{background: #f5d0b3 url(../images/bg.jpg) repeat-x left top;font-weight:bold;}
table.jslong tr td.even{background:#fff4eb;}
table.jslong tr td.big{color: #ff0000;}

table.qcs{border-top:1px solid #cdc2b4;border-left:0;}
table.qcs tr td{border-right:1px solid #cdc2b4;border-bottom:1px solid #cdc2b4;text-align:center;/*font-weight:bold;*/}

/*else*/
.main, .gdmain, .right, .gdright, .jsright{margin-top:10px;margin-bottom:10px;}
.right {width:100px;}
.gdright{width:160px;}
.jsright{width:168px;}
/*body, div, span, p, b, textarea, input, select, form, table,tr,td{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:12px;
	z-index:auto;
	font-family:Verdana,Arial,Sans;
	color:#511e02;
}
body {
	padding-top: 10px;
}*/
img, table{border:0px none;border-collapse:collapse}
td{
	cursor: default;
}
a{
	text-decoration:none;
	color:#4a1a04;
}
a:hover, .a1{
	text-decoration:underline;
	color:#c15422;
}

.inp1, .inp1m, .btn2, .btn2m, .btn3, .btn3m{background-image:url(../images/frame1.gif);background-repeat:no-repeat;}
.inp1, .inp1m{border:1px solid #b0b0b0;height:20px;height/**/:18px;padding-top:1px;padding-left:1px!important;padding-left:2px;color:#000}
.inp1{background-position:-0px 0;color:#000}
.inp1m{border:1px solid #A7BBD3;background-position:-476px 0;color:#000;border-color: #FF8800;}
.btn2, .btn2m{width:66px;height:17px;border:0px none;_padding-top:3px;padding-bottom:2px!important;margin-bottom:0;color:#0C3E09;background-color:transparent;background-position: -943px 0;cursor:hand!important;cursor:hand !important;}
.btn2{width:66px;background-position:-943px 0}
.btn2m{cursor: hand;width:66px;background-position:-1010px 0}
.btn3, .btn3m{width:44px;height:17px;border:0px none; padding-top:3px!important;padding-top:3px;padding-top/**/:3px !important;padding-bottom:2px!important;margin-bottom:0;color:#0C3E09;background-color:transparent;cursor:hand!important;cursor:hand !important}
.btn3{width:44px;background-position:-1077px 0}
.btn3m{cursor: hand;width:44px;background-position:-1122px 0}

.Ball_List {
	background-color:#e9ba84;
	border:0px #e9ba84 solid;
	position: relative;
}
.Ball_tr_H {
	line-height: 16px;
	text-align: center;
	background-color: #FFFFFF;
	height: 27px;
}
.Jut_caption_1 {
	background-color: #fdf8f2;
}
.td_caption_1 {
	background-image: url(../images/bg.jpg);
	line-height: 24px;
	text-align:center;
	color:#4a1a04;
	font-weight: bold;
}
.td_caption_2 {
	background-image: url(../images/bg2.jpg);
	line-height: 22px;
	text-align:center;
	vertical-align: 10%;
}
.multiple_Red {
	font-family: Arial, Helvetica, Verdana, Geneva,  sans-serif;
	font-size: 14px;
	color: #FF0000;
	font-weight: bold;
}
.Font_R {
	color: #FF0000;
}
.Font_B {
	color: #2836F4;
}
.Font_G {
	color: #299A26;
}
.F_bold {
	font-weight: bold;
}
.SI_TD {
	background-color:#ffffff;
	text-align: center;
	height: 20px;
	line-height: 17px;
	background-image: url(../images/S0.jpg);
}
.t_list_tr_0 {
	background-color:#ffffff;
	text-align: center;
	height: 20px;
	line-height: 17px;
}
.t_list_tr_1 {
	background-color:#fff5ec;
	text-align: center;
	height: 20px;
	line-height: 17px;
}
.t_list_tr_sum {
	line-height: 20px;
	background-color:#e8dccf;
	text-align: center;
	font-weight: bold;
}
.t_Edit_caption {
	line-height: 28px;
	background-color:#fff5ec;
	padding-left:5px;
	text-align: right;
}
.t_Edit_td {
	line-height: 28px;
	background-color:#ffffff;
	padding-left:5px;
	text-align: left;
	text-indent: 3px;
}
.t_list {
	background-color:#e9ba84;
	border:0px #e9ba84 solid;
	position: relative;
}
.t_list_caption {
	background-image: url(../images/bg.jpg);
	line-height: 24px;
	text-align:center;
	color:#4a1a04;
	font-weight: bold;
}
.t_list_bottom {
	background-image: url(../images/bg1.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.f_left {
	text-align: left;
	text-indent: 3px;
}
.f_center {
	text-align: center;
	text-indent: 3px;
}
.f_right {
	text-align: right;
}
.jeu_XZ_Type {
	color: #2836F4;
}
.jeu_multiple {
	color: #FF0000;
	font-weight: bold;
}
.jeu_OpenLottery {
	color: #299A26;
}
.TDb_R {
	color: #FF0000;
	background-color: #ffffff;
}
.TDb_B {
	color: #511e02;
	background-color: #fff4eb;
}
.Check_NO {
	background-color:#FFFFA2;
	text-align: center;
}
/*ball css hk*/
.No_01, .No_02, .No_03, .No_04, .No_05, .No_06, .No_07, .No_08, .No_09, .No_10, .No_11, .No_12, .No_13, .No_14, .No_15, .No_16, .No_17, .No_18, .No_19, .No_20 {
	background: url(../images/ball_1.gif) no-repeat center center;
	display:inline-block;
	cursor:default;
	width:27px;
	height:27px;
	overflow: hidden;
	text-align: center;
}

.No_01 {
	background-position:0 0px
}
.No_02 {
    background-position:0 -27px
}
.No_03 {
    background-position:0 -54px
}
.No_04 {
    background-position:0 -81px
}
.No_05 {
    background-position:0 -108px
}
.No_06 {
    background-position:0 -135px
}
.No_07 {
    background-position:0 -162px
}
.No_08 {
    background-position:0 -189px
}
.No_09 {
    background-position:0 -216px
}
.No_10 {
    background-position:0 -243px
}
.No_11 {
    background-position:0 -270px
}
.No_12 {
    background-position:0 -297px
}
.No_13 {
    background-position:0 -324px
}
.No_14 {
    background-position:0 -351px
}
.No_15 {
    background-position:0 -378px
}
.No_16 {
    background-position:0 -405px
}
.No_17 {
    background-position:0 -432px
}
.No_18 {
    background-position:0 -459px
}
.No_19 {
    background-position:0 -486px
}
.No_20 {
    background-position:0 -513px
}
/*ball css chongqing*/
.No_000, .No_001, .No_002, .No_003, .No_004, .No_005, .No_006, .No_007, .No_008, .No_009 {
	background: url(../images/ball_2.gif) no-repeat center center;
	display:inline-block;
	cursor:default;
	width:27px;
	height:27px;
	overflow: hidden;
	text-align: center;
}

.No_000 {
	background-position:0 0px
}
.No_001 {
    background-position:0 -27px
}
.No_002 {
    background-position:0 -54px
}
.No_003 {
    background-position:0 -81px
}
.No_004 {
    background-position:0 -108px
}
.No_005 {
    background-position:0 -135px
}
.No_006 {
    background-position:0 -162px
}
.No_007 {
    background-position:0 -189px
}
.No_008 {
    background-position:0 -216px
}
.No_009 {
    background-position:0 -243px
}
/*ball css beijing*/
.No_0001, .No_0002, .No_0003, .No_0004, .No_0005, .No_0006, .No_0007, .No_0008, .No_0009, .No_00010 {
	background: url(../images/ball_3.gif) no-repeat center center;
	display:inline-block;
	cursor:default;
	width:27px;
	height:27px;
	overflow: hidden;
	text-align: center;
}
.No_0001 {
	background-position:0 0px
}
.No_0002 {
    background-position:0 -27px
}
.No_0003 {
    background-position:0 -54px
}
.No_0004 {
    background-position:0 -81px
}
.No_0005 {
    background-position:0 -108px
}
.No_0006 {
    background-position:0 -135px
}
.No_0007 {
    background-position:0 -162px
}
.No_0008 {
    background-position:0 -189px
}
.No_0009 {
    background-position:0 -216px
}
.No_00010 {
    background-position:0 -243px
}

/*ball jiangsu*/
table.jiangsu tr th{border:1px solid #e9ba84;}

/*ball*/
.No_00001, .No_00002, .No_00003, .No_00004, .No_00005, .No_00006 {
	background: url(../images/ball_4.gif) no-repeat center center;
	display:inline-block;
	cursor:default;
	width:27px;
	height:27px;
	overflow: hidden;
	text-align: center;
}

.No_00001 {
	background-position:0 0px
}
.No_00002 {
    background-position:0 -27px
}
.No_00003 {
    background-position:0 -54px
}
.No_00004 {
    background-position:0 -81px
}
.No_00005 {
    background-position:0 -108px
}
.No_00006 {
    background-position:0 -135px
}

.lightyellow{background:#ffd094!important;}
.darkyellow{background:#ffc214!important;}

/*ball css nc*/
.NC_01, .NC_02, .NC_03, .NC_04, .NC_05, .NC_06, .NC_07, .NC_08, .NC_09, .NC_10, .NC_11, .NC_12, .NC_13, .NC_14, .NC_15, .NC_16, .NC_17, .NC_18, .NC_19, .NC_20 {
	background: url(../images/ball_5.png) no-repeat center center;
	display:inline-block;
	cursor:default;
	width:27px;
	height:27px;
	overflow: hidden;
	text-align: center;
}

.NC_01 {
	background-position:0 0px
}
.NC_02 {
    background-position:0 -27px
}
.NC_03 {
    background-position:0 -54px
}
.NC_04 {
    background-position:0 -81px
}
.NC_05 {
    background-position:0 -108px
}
.NC_06 {
    background-position:0 -135px
}
.NC_07 {
    background-position:0 -162px
}
.NC_08 {
    background-position:0 -189px
}
.NC_09 {
    background-position:0 -216px
}
.NC_10 {
    background-position:0 -243px
}
.NC_11 {
    background-position:0 -270px
}
.NC_12 {
    background-position:0 -297px
}
.NC_13 {
    background-position:0 -324px
}
.NC_14 {
    background-position:0 -351px
}
.NC_15 {
    background-position:0 -378px
}
.NC_16 {
    background-position:0 -405px
}
.NC_17 {
    background-position:0 -432px
}
.NC_18 {
    background-position:0 -459px
}
.NC_19 {
    background-position:0 -486px
}
.NC_20 {
    background-position:0 -513px
}
table.page td img{ vertical-align: middle;}

 table.ball tr td table td{ line-height: 15px; margin: 10px auto;}
.ball_num td{  background: #F6D6BD; font-weight: bold; }
table.ball tr td .sumTable td{ border-bottom: 1px solid #e9ba84;}

#checkTable th{height:25px;}
#checkTable th input{display:block;width:100%;}
table.king#betTable tr td label{display:block;width:100%;}
table.king#betTable tr td label:hover{background:#fcfdcf;border:1px solid #ff8800;}
table.king#betTable tr td label input:hover{ background:none;border:none;}